.logo{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-decoration: none;
  color: #2c3e50;
  margin: 8px;
}
.router-link{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-decoration: none;
  color: #2c3e50;
}
.imgLogo{
  width: 50px;
  height: 50px;
  border-radius: 12px;
}
.topNav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.logoPosition{
   display: flex;
}
// Nav mobile
.seeHambergerNav{
  display: none;
  width: 50px;
  height: auto;
  cursor: pointer;
  border-radius: 5px;
  &:hover{
    border: solid 1px #2c3e50;
  }
}
.displayNone{
  display: none;
}
.displayBlock{
  display: flex;
}
.contentNav{
  background-color: #058373;
  top: 70px;
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 2px 2px 4px #dcdcdc;
}
.navLink{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  &:hover{
    color: #d5d6db;
  }
}