@import "_base";
@import "layout";

.displayFlex{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
.displayFlexNoR{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logoPosition{
  display: flex;
}
.lists{
  flex-grow: 2;
  background-color: #ffffff;
  padding: 10px 30px;
  margin: 0px 50px 50px 0px;
  border-radius: 12px;
  height: auto;
  box-shadow: 2px 2px 4px #dcdcdc;
}
.titleSection{
  text-decoration: none;
  color: #2c3e50;
  text-transform: uppercase;
}
.ligne{
  margin-bottom: 10px;
  width: 100%;
  height: 2px;
  background-color: #dcdcdc;
}
.addListe{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 32%;
  margin-bottom: 50px;
  background-color: #047668;
  padding: 10px 30px;
  border-radius: 12px;
  height: 70%;
  box-shadow: 2px 2px 4px #dcdcdc;
}
.addListeSecG{
   width: 60%;
}
.texteAddList{
  margin-bottom: 33%;
}
.imgAddListe{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 40%;
}
.imgAddListe > img{
  width: 100%;
}
.seeHambergerNav{
  display: none;
  width: 50px;
  height: auto;
  cursor: pointer;
  border-radius: 5px;
  &:hover{
    border: solid 1px #2c3e50;
  }
}
.displayNone{
  display: none;
}
.displayBlock{
  display: flex;
}
.contentNav{
  background-color: #058373;
  top: 70px;
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 2px 2px 4px #dcdcdc;
}
.navLink{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  &:hover{
    color: #d5d6db;
  }
}
// Cération liste d'épicerie
.creatList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: auto;
  padding: 10px 40px;
  border-radius: 12px;
  box-shadow: 2px 2px 4px #dcdcdc;
  background-color: #058373;
}
.creatList > h2{
  width: 100%;
  text-align: start;
}
.creatListArea{
  margin: 45px 0px 20px 0px;
  width: 40%;
  padding-right: 26px;
}
.enterNameList{
  margin: 10px 30% 10px 0px;
  padding: 10px;
  width: 70%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #2c3e50;
  border: none;
  border-radius: 12px;
  box-shadow: 2px 2px 4px #5e5e5e;
  &:focus{
    border: none;
    background-color: #dbdbdb;
  }
}
.imgCreatListe{
  margin: 5px 1px 20px 5px;
  width: 20%;
}
.imgCreatListe > img{
  width: 100%;
}
// page liste
.addItem{
  background-color: #ffffff;
  border-radius: 12px;
  flex-grow: 2;
  padding: 10px 40px;
  margin: 0px 50px 50px 0px;
  box-shadow: 2px 2px 4px #dcdcdc;
}
.inputRecherche{
  margin: 10px 30% 10px 0px;
  padding: 10px;
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #2c3e50;
  border: none;
  background-color: #F2F3F7;
  border-radius: 12px;
  &:focus{
    border: none;
    background-color: rgb(224, 224, 224);
  }
}
#resutats-recherche{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
#resutats-recherche > h3{
  margin-left: 10px;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: solid 2px #2c3e50;
}
.resultItems{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #F2F3F8;
  cursor: pointer;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 12px;
  background-color: #058373;
}
.contentList{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 2px 2px 4px #dcdcdc;
}
.contentList > h3{
  width: 100%;
  margin: 15px 0px 40px 30px;
}
.validationList{
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  padding: 10px 40px;
  background-color: #058373;
  border-radius: 12px;
  margin: 0px 50px 50px 0px;
  box-shadow: 2px 2px 4px #dcdcdc;
}
.validationListTop{
  width: 100%;
}
.sec1{
  width: 60%;
}
.imgAddItemList{
  margin: 10% 1px 20px 5px;
  width: 35%;
}
.imgAddItemList > img{
  width: 100%;
}

// media query
@media screen and (min-width: 769px){
  .contentNav{
    display: none;
  }
}
@media screen and (max-width: 1100px){
  .validationList{
    width: 100%;
    height: 50%;
    margin-right: 0px;
  }
  .addItem{
    width: 100%;
    margin-right: 0px;
  }
  .imgAddItemList{
    margin: 5px;
  }
  .validationList{
    justify-content: center;
  }
}
@media screen and (max-width: 992px){
  .lists{
    width: 100%;
    margin: 0px;
  }
  .displayFlex{
    justify-content: center;
  }
  .addListe{
    margin-bottom: 50px;
    width: 100%;
  }
  .enterNameList{
    width: 100%;
  }
  .imgCreatListe{
    width: 30%;
  }
  .imgAddItemList{
    width: 30%;
    margin: 5px;
  }
}
@media screen and (max-width: 768px){
  .seeListG{
    display: none;
  }
  .seeHambergerNav{
    display: inline;
  }
  .imgCreatListe{
    width: 70%;
  }
  .creatList{
    padding: 10px 20px;
  }
  .creatListArea{
    width: 100%;
  }
  #resutats-recherche{
    width: 100%;
  }
  .imgAddItemList{
    width: 36%;
    margin: 25px 5px;
  }
}
//Faites des imports de vos fichiers smacss